<html>
    <head>
        <link rel="stylesheet" href="/assets/Code39Azalea.css">

        <script id="drawerOpenOnly" type="text/x-dot-template"></script>

        <script id="templateReceipt" type="text/x-dot-template">
            <div style="font-family: Arial; font-size: 10px; width: 80mm">
                {{? it.transaction.isCompleted == false }}
                <div style="font-family: Arial; font-weight: bold; font-size: 18px; text-align: center; width: 80mm">* * * TRANSACTION PREVIEW * * *</div>
                <br />
                {{?}}
                <div style="text-align: center;">
                    <img src="/assets/imgs/logo-bw.png" /><br /><br />
                    {{!it.location.address}}<br />
                    {{=it.location.telephone}}<br />
                    <strong>{{!it.location.website}}</strong><br />
                </div>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    <tr>
                        <td width="30%">{{=it.transaction.transactionDate}}</td>
                        <td align="center" width="40%">{{!it.transaction.posUserName}}</td>
                        <td align="right" width="30%">{{=it.transaction.transactionTime}}</td>
                    </tr>
                </table>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    {{~it.transaction.transactionLines :line}}
                    <tr>
                        <td width="50%" align="left" valign="top">{{!line.description}}<br/ >{{=line.barcode}}</td>
                        <td width="20%" align="right" valign="top">{{=line.quantity}} @ {{!line.unitPrice}}</td>
                        <td width="5%"align="right" valign="top">{{=line.vatCode}}</td>
                    </tr>
                    {{~}}
                </table>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 13px; font-weight: bold;">
                    <tr>
                        <td width="30%">Total:</td>
                        <td align="right" width="70%">{{=it.transaction.transactionTotal}}</td>
                    </tr>
                </table>
                {{? it.transaction.isCompleted == true }}
                <hr />
                Payments:<br />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    {{~it.transaction.transactionPayments :payment}}
                    <tr>
                        <td width="40%">&nbsp;</td>
                        <td align="left" width="60%">{{!payment.type}}</td>
                        <td align="right" width="30%">{{!payment.amount}}</td>
                    </tr>
                    {{~}}
                </table>
                <br />
                {{~it.transaction.taxBreakdown :tax}}
                <div style="font-family: Arial; font-size: 10px;">
                        <strong>{{!tax.code}}</strong>:&nbsp;{{!tax.rate}}% on good £{{!tax.goodsValue}} = £{{!tax.taxAmount}}
                </div>
                {{~}}
                {{?}}
                <br />
                <div style="font-family: Code39AzaleaFont; font-size: 28px; text-align: center">*{{=it.transaction.transactionNumber}}*</div>
                <div style="font-family: Arial; text-align: center">{{=it.transaction.transactionNumber}}</div>
                {{? it.transaction.isCompleted == false }}
                <br />
                <div style="font-family: Arial; font-weight: bold; font-size: 18px; text-align: center; width: 80mm">* * * TRANSACTION PREVIEW * * *</div>
                {{?}}
            </div>
        </script>

        <script id="templateReceiptA4" type="text/x-dot-template">
            <div style="font-family: Arial; font-size: 10px; width: 190mm">
                <div style="text-align: center;">
                    <img src="/assets/imgs/logo-bw.png" /><br /><br />
                    {{!it.location.address}}<br />
                    {{=it.location.telephone}}<br />
                    <strong>{{!it.location.website}}</strong><br />
                </div>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    <tr>
                        <td width="30%">{{=it.transaction.transactionDate}}</td>
                        <td align="center" width="40%">{{!it.transaction.posUserName}}</td>
                        <td align="right" width="30%">{{=it.transaction.transactionTime}}</td>
                    </tr>
                </table>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    {{~it.transaction.transactionLines :line}}
                    <tr>
                        <td width="50%" align="left" valign="top">{{!line.description}}<br/ >{{=line.barcode}}</td>
                        <td width="20%" align="right" valign="top">{{=line.quantity}} @ {{!line.unitPrice}}</td>
                        <td width="5%"align="right" valign="top">{{=line.vatCode}}</td>
                    </tr>
                    {{~}}
                </table>
                <hr />
                <table width="100%" style="font-family: Arial; font-size: 13px; font-weight: bold;">
                    <tr>
                        <td width="30%">Total:</td>
                        <td align="right" width="70%">{{=it.transaction.transactionTotal}}</td>
                    </tr>
                </table>
                <hr />
                {{? it.transaction.transactionPayments.length > 1 }}
                Payments:<br />
                <table width="100%" style="font-family: Arial; font-size: 10px;">
                    {{~it.transaction.transactionPayments :payment}}
                    <tr>
                        <td width="40%">&nbsp;</td>
                        <td align="left" width="60%">{{!payment.type}}</td>
                        <td align="right" width="30%">{{!payment.amount}}</td>
                    </tr>
                    {{~}}
                </table>
                <br />
                {{?}}
                {{?it.transaction.taxBreakdown.length}}
                {{~it.transaction.taxBreakdown :tax}}
                <div style="font-family: Arial; font-size: 10px;">
                    <strong>{{!tax.code}}</strong>:&nbsp;{{!tax.rate}}% on goods £{{!tax.goodsValue}} = £{{!tax.taxAmount}}
                </div>
                {{~}}
                {{?}}
                <br />
                <div style="font-family: Code39AzaleaFont; font-size: 28px; text-align: center">*{{=it.transaction.transactionNumber}}*</div>
                <div style="font-family: Arial; text-align: center">{{=it.transaction.transactionNumber}}</div>
            </div>
        </script>

        <script type="text/javascript" src="/node_modules/dot/doT.min.js"></script>
        <script type="text/javascript" src="/assets/URI.js"></script>
    </head>

    <body>
        <div id="content"></div>
    </body>

    <script type="text/javascript">
        var dotTemplate = '';

        var innerTemplates = {
            templateReceiptContent: document.getElementById('templateReceipt').text
        };
        var uri = new URI();
        var inputParams = uri.search(true);
        var data = {};

        if (uri.hasQuery('template')) {
            dotTemplate = inputParams.template;
        }

        if (uri.hasQuery('data')) {
            data = JSON.parse(inputParams.data);
            console.debug(data);
        }

        var template = doT.template(document.getElementById(dotTemplate).text, undefined, innerTemplates);
        document.getElementById('content').innerHTML = template(data);
    </script>
</html>